body {
    background-color: rgb(34, 34, 34);
    margin: auto;
}

#viewport {
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(32, 1fr);
    width: 640px;
    height: 320px;
}

input {
    color: wheat;
}

.px {
    width: 10px;
    height: 10px;
}
